{% extends 'base.html.twig' %}

{% block body %}
<table border="2">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>

    {% for user in users %}
        <tr>
            <td><a href="/profile/{{ user.id }}">{{ user.fullName }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.Roles() | join(' | ') }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

