{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        This is Dashboard
    {% else %}
        <hr>
        Your ar not loged in. Please <a href="{{ path('security_login') }}">loggin</a>!
        <hr>
    {% endif %}
{% endblock %}

